{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-25">
    <h1 class="fs-1 mb-4">Book an Appointment</h1>
    <form method="POST" id="appointmentForm">
        {% csrf_token %}

        <!-- Specialty -->
        <div class="mb-3">
            <label for="id_specialty" class="form-label"><strong>Specialty</strong></label>
            {{ form.specialty }}
        </div>

        <!-- Date -->
        <div class="mb-3">
            <label for="id_date" class="form-label"><strong>Date</strong></label>
            {{ form.date }}
        </div>

        <!-- Available slots -->
        <div id="available-slots" class="mt-4">
            <p id="slots-message" class="text-muted">Select a date to see available times.</p>
        </div>

        <!-- Hidden input for selected time -->

        <div class="d-none">
            {{ form.time }}
        </div>

        <button type="submit" class="btn btn-primary mt-3">Book Appointment</button>
    </form>
</div>

<script src="{% static 'js/script.js' %}"></script>

{% endblock %}