<!DOCTYPE html>
<html lang="en">
{% load django_bootstrap5 static cloudinary %} <!-- Load bootstrap5, static and cloudinary tags -->

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Top Clinic{% endblock %}</title>

    {% bootstrap_css %} <!-- Loads Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <header class="site-header">
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}"><i
                        class="bi bi-heart-pulse d-inline-block align-items-center"></i> Top Clinic</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
                        <a class="nav-item nav-link" href="{% url 'specialties' %}">Specialties</a>
                        <a class="nav-item nav-link" href="{% url 'contact' %}">Contact</a>
                        {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'my_appointments' %}">My Appointments</a>
                        {% endif %}
                        {% if user.is_authenticated and not user.is_superuser %}
                        {% if user.profile.role == 'patient' %}
                        <a class="btn btn-warning ms-2" href="{% url 'appointments' %}">New Appointment</a>
                        {% endif %}
                        {% endif %}
                    </div>
                    <!-- Navbar Right Side -->
                    <ul class="navbar-nav ms-auto align-items-center">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'inbox' %}">
                                <i class="bi bi-bell"></i><sup><span class="badge bg-danger">{{ unread_count }}</sup></span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle d-flex align-items-center py-0" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="navbar-text text-light me-2">
                                    {% cloudinary_url user.profile.image.name width=100 height=100 crop="thumb" as profile_img_url %}
                                    <img src="{{ profile_img_url }}" alt="Profile picture" class="rounded-circle profile-image">
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
                                <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form method="post" action="{% url 'logout' %}" class="dropdown-item">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-link logout-btn">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <br>
    {% if messages %}
    <div class="container mt-3">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <main class="container-fluid pb-5">
        {% block content %}{% endblock %}
    </main>
    <br>
    <br>
    <div class="fixed-bottom">
        <footer class="bg-primary text-light text-center py-3">
            <p>&copy; 2025 Top Clinic. All rights reserved.</p>
        </footer>
    </div>

    {% bootstrap_javascript %}
    <script src="{% static 'js/script.js' %}"></script>

</body>

</html>