{% extends "base.html" %}
{% block content %}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="text-center mb-4">
                <p class="fs-2 fw-bold">Contact Us</p>
                <p class="text-muted">Get in Touch with Top Clinic</p>
            </div>
            <p>
                We're here to help you with all your healthcare needs. Whether you'd like to
                schedule an appointment, ask a medical question, or simply learn more about our
                services, our team is always happy to assist you.
            </p>
            <div class="card shadow-sm border-0 my-4">
                <div class="card-body">
                    <p class="fs-5 card-title fw-semibold mb-3">Top Clinic</p>
                    <p class="mb-1"><i class="bi bi-mailbox text-secondary"></i><strong> Address:</strong> University
                        College, Belfield, Dublin 4</p>
                    <p class="mb-1"><i class="bi bi-clock text-secondary"></i><strong> Hours:</strong> Mon-Fri 8:00 AM -
                        6:00 PM | Sat 9:00 AM - 1:00 PM</p>
                    <p class="mb-1"><i class="bi bi-envelope-at text-primary"></i><strong> Email:</strong> <a
                            href="mailto:lapdfssd@gmail.com">contact@topclinic.com</a></p>
                    <p class="mb-0"><i class="bi bi-telephone text-success"></i><strong> Phone:</strong> (123) 456-7890
                    </p>
                </div>
            </div>
            <p>
                At Top Clinic, we value your time and your trust. Every message we receive is
                handled with care and confidentiality.
            </p>
            <hr class="my-5">
            <p class="fs-4 fw-semibold mb-3"><i class="bi bi-pin-map-fill text-primary-emphasis"></i> Find Us</p>
            <p>
                Top Clinic is conveniently located in the heart of <strong>Dublin</strong>, just a short
                walk from the UCD Belfield bus stop and across from <strong>UCD Permit Car Park N2</strong>. Free
                parking is
                available for all patients, and our clinic is fully accessible for those with
                mobility needs.
            </p>
            <div class="ratio ratio-16x9 rounded shadow-sm mt-3">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4767.745320783416!2d-6.224164622202557!3d53.309726772278914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4867093120c83a63%3A0x36762af31424bfcf!2sUniversity%20College%20Dublin!5e0!3m2!1sen!2sie!4v1760177073511!5m2!1sen!2sie"
                    allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock content %}