{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mx-auto text-center">
    <p class="fs-1">Welcome to the Best Clinic</p>
</div>
<div class="container-fluid">
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-3">
        <div class="col">
            <div class="p-3"><img src="{% static 'images/branding.png' %}" alt="Best Clinic Logo image" class="img-fluid"/></div>
        </div>
        <div class="col">
            <div class="fs-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque id elit tortor. Aliquam
                rutrum massa id ligula mattis, in rutrum diam pretium. Praesent interdum lectus vitae nibh pretium, quis
                placerat est finibus. Morbi urna ligula, ornare sit amet efficitur et, aliquet nec elit. Suspendisse
                vehicula eget mi id venenatis. In justo libero, facilisis nec ligula vel, sollicitudin iaculis arcu.
                Nulla vitae placerat dui. Proin fermentum rutrum felis eu placerat. Aliquam erat volutpat. Vivamus
                facilisis elementum risus eu scelerisque. Nulla malesuada pulvinar scelerisque.

                Vivamus et finibus justo, in vehicula est. Ut non venenatis elit. Praesent venenatis, lorem non auctor
                luctus, dolor ex tempus arcu, nec rhoncus nunc eros ornare est. Vivamus sollicitudin eget tellus eu
                semper. Aenean elementum non tellus a interdum. Nullam vel feugiat erat. Nullam posuere aliquam tellus
                ac fringilla. Aenean varius hendrerit vehicula. Suspendisse aliquam ipsum eget dui fermentum egestas.
                Fusce et aliquam mauris.

                Donec in ultrices nulla. Ut id odio sem. Quisque feugiat lectus id tempor fringilla. Ut tempus et quam
                eget faucibus. Quisque blandit semper ipsum. Duis vitae orci orci. Sed euismod nunc id rhoncus pulvinar.

                Etiam id lobortis quam. Duis porta dignissim nisi sit amet bibendum. Ut sit amet elementum nisi. Nam a
                lorem urna. Suspendisse eu ante non nisi efficitur blandit sed id enim. Integer convallis vel lectus eu
                venenatis. Vivamus enim enim, dictum eu leo nec, facilisis eleifend nibh. Aliquam sagittis fermentum
                nunc, eget aliquet diam mattis quis. Cras accumsan, dolor sit amet condimentum aliquet, turpis est
                scelerisque arcu, non porttitor purus nibh ac massa. Aliquam quis venenatis dolor. Nullam dignissim
                velit sit amet augue ornare, eget scelerisque tellus interdum. Aliquam commodo sollicitudin tortor, ut
                laoreet purus tempus id. Quisque enim massa, pharetra ut tristique quis, suscipit in mauris. Aliquam
                quis massa diam. Praesent ac pellentesque enim. Sed vestibulum pellentesque mauris, ac semper sapien
                porttitor quis.

                Curabitur tristique mi nibh, at sodales augue ullamcorper vitae. Proin rhoncus, metus ac volutpat
                gravida, ex augue fringilla nisl, eu convallis quam nisi nec tortor. Morbi luctus erat diam, eget
                vestibulum nisi laoreet at. Quisque vitae purus eleifend leo commodo efficitur eu sed mauris. Morbi eros
                nibh, dignissim a enim vitae, lobortis egestas ex. In tincidunt sollicitudin erat. Etiam ut leo a mauris
                varius feugiat ut non eros. Sed id imperdiet augue. Pellentesque placerat vestibulum augue vel dictum.
                Aenean quis eros quis lacus sodales pretium. Praesent iaculis rhoncus magna, a semper augue iaculis at.
                Vestibulum dolor risus, mollis porttitor odio et, tristique semper velit. Ut auctor cursus nisi, quis
                ultrices est. Praesent ac convallis lectus, ut accumsan est.

                Quisque tempor nibh quis dignissim ultricies. Integer eleifend elit lectus, in fringilla ipsum volutpat
                id. Nulla sem mauris, placerat sed semper ac, varius quis dolor. Sed pellentesque ultrices justo, in
                blandit lacus ultrices ac. Fusce tempor lectus a aliquet molestie. Sed ac arcu tincidunt, faucibus quam
                nec, ultricies libero. Fusce pharetra mollis ante, in tristique urna porta a. Maecenas vestibulum magna
                nisi, eu tristique justo tempor vel. Phasellus metus massa, placerat et magna ac, pharetra imperdiet
                eros. Integer sed.
            </div>
        </div>
        <div class="col">
                <div class="p-3"><img src="{% static 'images/doctor.png' %}" alt="doctor image" class="img-fluid"/></div>
            </div>
        </div>
    </div>
</div>
    {% endblock %}