{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="mx-auto text-center">
    <p class="fs-1">Welcome to the Top Clinic</p>
</div>
<div class="container-fluid">
    <div class="row align-items-start g-2 g-lg-3">
        <div class="col-auto">
            <div class="p-3">
                <img src="{% static 'images/branding.png' %}" alt="Top Clinic Logo image" class="img-fluid" />
            </div>
        </div>
        <div class="col">
            <div class="fs-5">At Top Clinic, we believe that quality healthcare begins with compassion, expertise, and
                trust. Our team of experienced doctors, nurses, and specialists is dedicated to providing personalized
                medical care for every stage of life.
                <br><br>
                Whether you're visiting us for a routine check-up, managing a chronic condition, or seeking professional
                advice, Top Clinic offers a modern, patient-centered environment where your wellbeing always comes
                first.
                <br><br>
                We combine the latest medical technology with a caring approach to ensure you receive the highest
                standard of treatment. Your journey to better health starts here.
            </div>
        </div>
        <div class="col-auto">
            <div class="p-3 doctor-image-container">
                <img src="{% static 'images/doctor.png' %}" alt="doctor image" class="img-fluid doctor-image" />
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}