.doctor-image-container {
    max-width: 400px;
}
.doctor-image {
    max-width: 100%;
    height: auto;
    display: block;
}

.logout-btn {
    padding: 0;
    border: none;
    background: none;
    color: inherit !important;
    cursor: pointer;
    text-decoration: none !important;
}

.logout-btn:hover,
.logout-btn:focus {
    text-decoration: none !important;
}